$tertiary: #8d8d8d;
$background: #e5e5e5;
$white: #ffffff;
$logo: #262626;
$heading: #463f3a;

// bootstrap variables override
$primary: #f4f3ee;
$secondary: #c32c72;
$navbar-light-color: $tertiary;
$navbar-light-active-color: $secondary;
$light: #f4f3ee;
$navbar-toggler-icon: #463f3a;
$navbar-toggler-padding-x: none;
$navbar-light-toggler-border-color: none;
// bootstrap variables override end
