.footer {
	width: 100%;
	margin: 0 auto;
	flex-shrink: 0;
	font-size: 0.8em;
	margin-top: 205px;
	color: $tertiary;
	background-color: $white;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		max-width: 1430px;
		margin: 20px 0 20px 0;
	}
}

@media (min-width: 1320px) {
	.footer {
		background-color: $primary;
		margin-top: 227px;

		&__container {
			flex-direction: row;
			margin: 0 auto;
			height: 50px;
			padding: 0 20px;
			background-color: $primary;
		}
	}
}
